<header>
	<a href="#" style='color:#fff;'>Chirp</a>
	<div class='btn-wrap'>
		<button class='nav-btn js-nav-tog' ng-click='show_nav()'>a</button>
	</div>
	<div class='nav js-navi'>
		<ul>
			<li><a ui-sref='main'>Home</a></li>
			<li><a href='/notification'>Notifications</a></li>
			<li><a href='/messages'>Messages</a></li>
			<li><a ui-sref='settings'>Settings</a></li>
			<li><a href='/logout'>Logout</a></li>
		</ul>
	</div>
</header>