.row {
	float:left;
	width:100%;

	.col {
		float:left;
		$w:100% / 12;

		@for $i from 1 through 12 {
			&-#{$i} {
				width:$i * $w;
			}
		}
	}
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html .clearfix {
	zoom: 1;
}
*:first-child+html .clearfix {
	zoom: 1;
}